:root {
    --gradient: radial-gradient(circle, #9b9b9b, #747474, #3b3b3b, #1f1f1f, #0c0c0c);

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
